.img-hover-wrapper {
  position: relative;
  width: 50px;
}

.img-small {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid #ddd;
}

/* Hidden big image */
.img-preview {
  display: none;
  position: absolute;
  top: -10px;
  left: 60px;
  z-index: 10;
  background: white;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.img-preview img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}

/* Show on hover */
.img-hover-wrapper:hover .img-preview {
  display: block;
}
